<?xml version="1.0" encoding="UTF-8"?>
<!-- Loads whatever needs to be loaded before the tests run-->
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

        <!-- colors: Adds colors to the command line-->
        <!-- verbose: More output-->
        <!-- stopOnFailure: stops running -->
<!--
<testsuites>
        <testsuite name="Test suite">
            <directory>tests</directory>
        </testsuite>
</testsuites>
This is our test suites and where the tests are located (i.e. in the tests directory)
-->